@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');




body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", serif;
}

.area {
    height: 100vh;
    width: 100%;
    /* background-color: grey; */

}

.menu-area {
    position: static;
}

.mega-area .list {
    color: burlywood;
}

.mega-area .list:hover {
    color: black;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.menu-area:hover .mega-area {
    transition: all 0.5s ease-in-out;
    visibility: visible;
    transform: translateY(0);
}


.mega-area {
    position: absolute;
    width: 80%;
    left: 0;
    right: 0;
    padding: 15px;
    margin: auto;
    visibility: hidden;
    transform: translateY(10px);
    transition: all 0.4s ease-in-out;
    background: #fff;
}

.dropdown-menu {
    background: gainsboro;
}

.dropdown-item {
    padding: 5px 0;
    border: none;
    transition: transform 0.3s ease-in-out;

}


.navbar {
    margin-top: 2px;
    background-color: gray;
}